<mat-toolbar class="header mat-elevation-z8">

    <div class="header__logo">
        <a href="#">
            <img class="img" src="../../../../assets/img/logo.png" alt="logo">
        </a>
    </div>


    <div class="header__menu">
        <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>

                <li>
                    <a routerLink="/projetos">
                        Projetos
                    </a>
                </li>

                <li>
                    <a routerLink="/contato">
                        Contato
                    </a>
                </li>
            </ul>
    </div>

    <div class="header_right">

    </div>

</mat-toolbar>