<mat-card class="main">

    <div class="main__container">

        <div class="container__left">
            <img class="left__img" src="../../../../assets/img/img.png" alt="Minha imagem">
        </div>

        <div class="container__center">
            <div class="center">
                <h1 class="title">Bem vindo(a) ao meu portfolio!</h1>
                    <p class="text">
                        Sou Angélica, tenho 22 anos e atualmente resido em Alagoinhas na Bahia,
                        porém natural de Seabra, Chapada Diamantina, também cidade bahiana.
                    </p>
                    
                    <h2 class="subtitle">Experiências: </h2>
                    <p class="text">Sou membro da tecnoSystem, empresa Júnior da UNEB, atuando até o momento como trainee, mais
                        precisamente
                        me preparando como desenvolvedora Front-end, com React.
                    </p>
                    
                    <h2 class="subtitle">Formação acadêmica: </h2>
                    <p class="text"> Sou formada em técnico de informatica pelo Instituto Federal de Educação,
                        Ciência e Tecnologia da Bahia, campus Seabra e atualmente estou cursando Sistemas de Informação
                        na Universidade Estadual da Bahia(UNEB), já no 5º semestre.
                    </p>
                    
                    <div class="img">
                        <img src="../../../assets/img/img3.svg" alt="">
                    </div>
            </div>

        </div>

        <!-- <div class="container__right">
            <img  class="right__img" src="../../../assets/img/img2.svg" alt="">
        </div> -->

    </div>
</mat-card>