$color__text: #545454;

.main {
    margin-top: 20px;
    background-color: #fff;
    height: 100vh;
    position: static;
    padding: 0;

    .main__container {
        display: flex;
        justify-content: center;
        gap: 70px;

        .container__left {
            width: 40%;
            height: 100vh;

            .left__img {
                height: 100%;
            }
        }

        .container__center {
            width: 75%;
            height: 100vh;

            margin-right: 100px;

            display: flex;
            justify-content: center;
            flex-direction: column;

            .title {
                color: $color__text;
                font-weight: 500;
                margin-top: 2.9em;
                padding-bottom: 15px;
            }

            .subtitle {
                color: $color__text;
                font-weight: 300;
            }

            .text {
                color: $color__text;
            }

            .img {
                height: 50px;
                
                display: flex;
                justify-content: flex-end;
            }
        }

        @media (max-width: 886px){
            .container__left {
                display: none;
             }

             .container__center{
                width: 80%;
             }
        }
    }
}


