$color__background: #fff;
$color__text: #545454;
$color__hover: #004AAD;

.footer{
    background-color: $color__background;
    position: fixed; 
    bottom: 0;

    display: flex;
    justify-content: flex-end;

    span{
        color: $color__text;
        font-size: 0.8rem;
        font-weight: 300;
    }
}