<mat-card class="main">

    <div class="main__container">

        <div class="contact">
            <h1>
                Meios de Contato
            </h1>

            <mat-list>

                <mat-list-item>
                    <mat-icon> local_post_office</mat-icon>
                    <span>angelicapereirasouza@gmail.com</span>
                </mat-list-item>

                <mat-divider></mat-divider>

                <mat-list-item>
                    <mat-icon> phone_in_talk </mat-icon>
                    <span>
                        (75) 99978-4128
                    </span>
                </mat-list-item>
                
                <mat-divider></mat-divider>

                <mat-list-item>
                    <div class="list_networks">

                        <div class="networks">
                            <a href="https://api.whatsapp.com/send?phone=5575999784128&text=Ol%C3%A1!%20Gostaria%20de%20saber%20mais%20sobre%20seu%20trabalho.">
                                <img src="../../../assets/img/icon__w.png" alt="">
                            </a>
                        </div>

                        <div class="networks">
                            <a href="https://www.facebook.com/?stype=lo&jlou=Afc6Xz3w63_K0Rg7MTBFao1AMP0nz1k1kIeK2jE7nLMOLftkJd8Skw7abvNFaMFjFC66INqVRIbJGyRrTvjjXeqFPQNCYEgtMRDMSJpZyLpZKw&smuh=16231&lh=Ac8JvBDvPDkZXKciu-Q">
                                <img src="../../../assets/img/icon__f.png" alt="">
                            </a>
                        </div>

                        <div class="networks">
                            <a href="https://www.instagram.com/angelicasouza12016/">
                                <img src="../../../assets/img/icon__i.png" alt="">
                            </a>
                        </div>

                    </div>
                </mat-list-item>

            </mat-list>

        </div>

        <div class="unDraw">
            <img src="../../../assets/img/contact_2.svg" alt="Contact">
        </div>

    </div>
</mat-card>