<mat-card class="main">

    <div class="main__container">

        <mat-tab-group>
            <mat-tab label="NLW Esports">
                <div class="projects">
                    <div class="projects__img">
                        <img src="../../../assets/img/proj_1.png" alt="">
                    </div>

                    <div class="projects__description">
                        <div>
                            <p>
                                Está tela faz parte da NLW e-Sports trilha Ignite promovido pela RocketSeat durante
                                imersão NLW esports. Para a construção deste sistema foi utilizado a biblioteca react,
                                e as demais tecnologias:HTML,
                                CSS,
                                JavaScript,
                                TypeScript,
                                ReactJS,
                                TailwindCSS, com o objetivo de desenvolver um programa capaz de encontrar duos de jogos.
                            </p>

                        </div>

                        <div>
                            <button class="button">
                                <a href="https://github.com/Angelica-souza/nlw-esports" target="_blank">
                                    Conhecer projeto
                                </a>
                            </button>
                        </div>

                    </div>

                </div>
            </mat-tab>
            <mat-tab label="Tela de Login">
                <div class="projects">

                    <div class="projects__img">
                        <img src="../../../assets/img/proj_2.png" alt="">
                    </div>

                    <div class="projects__description">
                        <div class="text">
                            <p>
                                Esta tela foi desenvolvida com base na aula CodeExpress, promovida por Rodrigo Lucas,
                                no canal Jovem programador. Para a construção deste sistema foi utilizado a biblioteca
                                react, e as demais tecnologias: HTML,
                                CSS e JavaScript.
                            </p>
                        </div>

                        <div>
                            <button class="button">
                                <a href="https://github.com/Angelica-souza/Sistema-de-login" target="_blank">
                                    Conhecer projeto
                                </a>
                            </button>
                        </div>

                    </div>


                </div>
            </mat-tab>

            <mat-tab label="Fofoca ai">
                <div class="projects">

                    <div class="projects__img">
                        <img src="../../../assets/img/proj_3.png" alt="">
                    </div>

                    <div class="projects__description">
                        <div class="text">
                            <p>
                                Esta tela foi desenvolvida durante o processo de trainee da tecnoSystem, empresa Júnior
                                fundada na Universidade do Estado da Bahia, campus II. O objetivo aqui, foi construir um sistema 
                                capaz de averiguar e comentar fofocas. 
                                
                                Para a construção deste sistema foi utilizado a biblioteca
                                react, e as demais tecnologias: HTML,
                                CSS e JavaScript.
                            </p>
                        </div>

                        <div>
                            <button class="button">
                                <a href="https://github.com/TecnoSystemEJ/fofoca-ai" target="_blank">
                                    Conhecer projeto
                                </a>
                            </button>
                        </div>

                    </div>


                </div>
            </mat-tab>

            <!-- <mat-tab label="Cadastro - Fofoca ai">
                <div class="projects">

                    <div class="projects__img">
                        <img src="../../../assets/img/proj_4.png" alt="">
                    </div>

                    <div class="projects__description">
                        <div class="text">
                            <p>
                                Este projeto foi desenvolvido durante o processo de trainer na tecnoSystem. 
                                Contruir desde a parte de
                                Para a construção deste sistema foi utilizado a biblioteca
                                react, e as demais tecnologias: HTML,
                                CSS e JavaScript.
                            </p>
                        </div>

                        <div>
                            <button class="button">
                                <a href="https://github.com/Angelica-souza/nlw-esports">
                                    Conhecer projeto
                                </a>
                            </button>
                        </div>

                    </div>


                </div>
            </mat-tab> -->
        </mat-tab-group>
    </div>

</mat-card>